.hidden{
    display: none;
    
}

body, html {
    height: 100%;
    margin:0;
  }

html {
    min-height: 100%;
 }

img {
    
    width: 100%;
     margin:0;
   
    height: 100%;
  
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 
#quote {
    position:absolute;
    top:95%;
    left:50%;
    transform: translateX(-50%);
    font-family: FreeSans;
    font-size : 26px;
    color: white;
    text-align: center;
   
    
}

#weather {
    position: absolute;
    text-align: right;
    left: 1770px;
    top:  10px;
    color: white;
    font-size: 20px;
}


#clock{
    position: absolute;
    left: 555px;
    top:70px;
       
    text-align: center;
    font-family : FreeSans;
    font-size : 200px;
    color:white;
    
}

#login-form input {
    position: absolute;
    
    color : white;
    left:580px;
    top:560px;
    
    width: 750px;
    height: 80px;
    text-align: center;
    font-family: FreeSans;
    font-size : 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);;
    border-radius: 25px;
}

#todo-form input {
    
    color:white;
    position: absolute;
    left:580px;
    top:670px;
    
    width: 750px;
    height: 80px;
    text-align: center;
    
    font-size : 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

h1{  position: absolute;
    font-size: 80px;
    left:750px;
 top:460px;
color: white;
    
}
 

#todo-list {
    position: absolute;
    color: white;
    left: 870px;
    top:725px;
    font-size: 35px;
    
    text-align: left;
    font-family: FreeSans;
}

button {
    font-size: 24px;
}

.to_do {
    clear : none;
    border : 0px none;
    float : none;
    background-color : transparent;
    outline : none;
}

::placeholder{
    color:white;
 
    
}

button{
    background: transparent;
    color:white;
    border: none;
}

#todo-list li button {
    font-size:33px;
}


#todo-list li {
    text-decoration: wavy;
    font-weight: bold;
}