.hidden{
    display: none;
    
}

body, html {
    height: 100%;
    margin:0;
  }

html {
    min-height: 100%;
 }

img {
    
    width: 100%;
     margin:0;
   
    height: 100%;
  
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 
#quote {
    position:absolute;
    top:97%;
    left:50%;
    transform: translateX(-50%);
    font-family: FreeSans;
    font-size : 15px;
    color: white;
    text-align: center;
}

#weather {
    position: absolute;
    text-align: right;
    left: 91%;
    top:  1%;
    color: white;
}


    #clock{
        position: absolute;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
        text-align: center;
        font-family : FreeSans;
        font-size : 150px;
        color: white;
    
}

#login-form input {
    position: absolute;
    
    color : white;
    left: 31%;
    top: 53%;
    
    width: 500px;
    height: 40px;
    text-align: center;
    font-family: FreeSans;
    font-size : 30px;
    border: none;
    background: transparent;
}

#todo-form input {
    
    color:white;
    position: absolute;
    left: 31%;
    top: 65%;
    
    width: 500px;
    height: 40px;
    text-align: center;
    
    font-size : 30px;
    border: none;
    background: transparent;
}

h1{  position: absolute;
    font-size: 65px;
    left:480px;
 top:295px;
 color:white;
}
 

#todo-list {
    position: absolute;
    color: white;
    left: 47%
    top: 70%;
    font-size: 20px;
    
    text-align: left;
    font-family: FreeSans;
}
}

.to_do {
    clear : none;
    border : 0px none;
    float : none;
    background-color : transparent;
    outline : none;
}

::placeholder{
    color:white;
 
    
}

button{
    background: transparent;
    color:white;
    border: none;
}